<div class="fullScreenWidth customNavBar">
    <div class="container">
        <div class="row hidden-xs visible-sm visible-md visible-lg">
            <div class="col-sm-3 col-md-4 col-lg-4">
                <a class="navbar-brand">PetuRaam</a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 navSearch">
                <input id="smSearchNavBar" class="form-control" placeholder="{{search.searchPlaceHolder}}" ng-if="getIsNotHomePage()" ng-model="search.searchtext" />
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4 navLinks">
                <div class="pull-right">
                    <span class="glyphicon glyphicon-search marRight5" ng-if="isSearchForMealInactive()" ng-click="showSearch()"></span>
                    <span class="glyphicon glyphicon-map-marker marRight5" ng-if="isSearchForLocationInactive()" ng-click="showLocationSearch()"></span>
                    <span class="loginSpan" ng-click="openLoginModal()">Login</span>
                </div>
            </div>
        </div>

        <div class="row visible-xs hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
                        <img src="images/Peturam.png" alt="Peturaam" title="PetuRam" />
                    </div>

                    <div class="col-xs-7 col-xs-offset-2 navLinks">
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-search marRight5" title="Search" ng-if="isSearchForMealInactive()" ng-click="showOverLappedMealSearch()" ></span>
                            <span class="glyphicon glyphicon-map-marker marRight5" title="Location Search" ng-if="isSearchForLocationInactive()" ng-click="showOverLappedLocationSearch()"></span>
                            <span class="loginSpan" ng-click="openLoginModal()">Login</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="overLappedRow" class="col-xs-12 overLappedRow">
                <div class="row">
                    <div class="col-xs-10">
                        <input id="xsSearchNavBar" class="form-control" ng-if="getIsNotHomePage()" placeholder="{{search.searchPlaceHolder}}" ng-model="search.searchText" />
                    </div>

                    <div class="col-xs-2 centerGlyph">
                        <span class="glyphicon glyphicon-remove remove" ng-click="restorePosition()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>