<div class="loginModal">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <p>Select your locality</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <i class="pull-right close-icon" ng-click="closeLoginModal()"><span
                        class="glyphicon glyphicon-remove"></span></i>
            </div>
        </div>
    </div>
    <div class="modal-body  scrollModal">

        <div class="col-xs-12 collapsibleServerResponse" ng-class="haveRecievedFromServer()">
            <div ng-class="haveRecievedFromServer()">
                {{serverResponse}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input class="form-control" type="text" ng-modal="locationFilter" placeholder="Type your Locality">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leftRightPadding20" ng-repeat="location in locations">
                <p class="hand" ng-class="$last ? '' : 'locList'" ng-click="searchByLocation(location)">{{location.name}}</p>
            </div>
        </div>
    </div>
</div>