body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #FAF8FD;
}
.fontSize35{
	font-size: 35px;
	font-family: Book Antiqua;
}
.headerColor{
	background-color: #DC141B ;
}
.marginTop5{
	margin-top: 5px;
}
.lpad15{
	padding-left: 15px
}
.bpad5{
	padding-bottom: 5px;
}
.logo{
	padding-top: 5px;
	width: 180px;
}
