$theme-background-color		:		#FAF8FD;
$theme-primary-color 		:		#DC141B;

$theme-primary-font			: 		'Segoe UI', sans-serif;

$theme-primary-font-color 	:		#fff;

$theme-shadow-color 			:		#444;

$theme-glyphicon-size           :       22px;

/*Min-ins*/
@mixin transition-mix($property, $duration) {
    -moz-transition: $property $duration;
    -o-transition: $property $duration;
    -webkit-transition: $property $duration;
    transition: $property $duration;
}

@font-face{
    font-family : Avdira;
    src : url('fonts/Avdira_R.woff');
}

body {
	background-color 		: 		$theme-background-color;
	font-family 			: 		Avdira;
}

.fullScreenWidth{
    width                   : 100%;
}

.customNavBar{
	background-color 		:		$theme-primary-color;
	border-bottom 			:		0;
	box-shadow 				:		$theme-shadow-color 0 0 5px;

    height                  :       50px;

    position                :       fixed;

	a.navbar-brand{
		color 				:		$theme-primary-font-color;
		text-decoration		:		none;
        cursor              :       pointer;
	}

	a.navbar-brand:hover{
		color 				:		$theme-primary-font-color;
		text-decoration 		: 		underline;
	}

    .navSearch input{
        margin-top          :       8px;
    }

	.navLinks{
        span{
            color               :       $theme-primary-font-color;
            font-size           :       $theme-glyphicon-size;
            line-height         :       50px;
            vertical-align      :       middle;
        }

        span.loginSpan{
            font-size           :       18px;

            &:hover{
                text-decoration     :       underline;
            }
        }
	}

    .overLappedRow{
        position:relative;
        top : -100px;

        background-color        :       $theme-primary-color;
        padding                 :       8px;
        @include transition-mix(all, 1s);

        .remove{
            color           :       $theme-primary-font-color;
            font-size       :       $theme-glyphicon-size;
        }

        .centerGlyph{
            padding-top     :       5px;
            text-align      :       center;
        }
    }
}

/*Utility Classes*/
.marRight5{
    margin-right            :       5px;
}

.noLeftRightPadding{
    padding-left            :       0;
    padding-right           :       0;
}