<div ng-include="'views/header.html'"></div>
<div class="container" ng-controller="UserListController" ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="bottomBorder">Registered Users</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="bg-danger" ng-class="haveReceivedResponseFromServer()">
                {{serverResponse}}
            </div>
        </div>
    </div>

    <div class="row restaurantList noLeftRightMargin tMar20">
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-2">
            <div class="heading">
                <div class="text">
                    User Name
                </div>

                <div class="input-group search">
                    <input type="text" class="form-control" ng-model="searchParams.name" />

                    <span class="input-group-btn">
                        <button class="btn btn-glyph" type="button" ng-click="searchUsers($event)">
                            <span class="glyphicon glyphicon-search form-control-feedback" ></span>
                        </button>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-xs-7 col-sm-4 col-md-4">
            <div class="heading">
                <div class="text">User Email</div>

                <div class="input-group search">
                    <input type="text" class="form-control" ng-model="searchParams.email"/>

                    <span class="input-group-btn">
                        <button class="btn btn-glyph" type="button" ng-click="searchUsers($event)">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </button>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-xs-2 hidden-xs col-sm-2 col-md-2">
            <div class="heading">
                <div class="text">User Orders</div>
            </div>
        </div>

        <div class="col-xs-2 hidden-xs hidden-sm col-md-2">
            <div class="heading">
                <div class="text">Revenue</div>
            </div>
        </div>

        <div class="col-xs-5 col-sm-3 col-md-2">
            <div class="heading">
                <div class="text">Actions</div>
            </div>
        </div>

    </div>

    <div class="row noLeftRightMargin userList" ng-repeat="user in userList">
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-2 dataCell">
            {{user.name}}
        </div>

        <div class="col-xs-7 col-sm-4 col-md-4 dataCell">
            {{user.email}}
        </div>

        <div class="col-xs-2 hidden-xs dataCell">
            {{user.orders}}
        </div>

        <div class="col-xs-2 hidden-xs hidden-sm dataCell">
            {{user.revenueGenerated}}
        </div>

        <div class="col-xs-2">

        </div>
    </div>

    <div class="row noLeftRightMargin">
        <div class="col-xs-12 col-sm-4 tMar20 noLeftRightPadding">
            <button type="reset" class="btn btn-pr-secondary btn-block" ng-click="resetSearch()">Reset Search</button>
        </div>

        <div class="col-xs-12 col-sm-8 noLeftRightPadding">
            <div class="pull-right" pagination total-items="listInfo.totalItems" ng-model="listInfo.currentPage" ng-change="getUsers()"/>
        </div>
    </div>
</div>