<div class="bannerCropModel">
    <div class="modal-header">
        <h3 class="modal-title">
            Please crop uploaded images.
        </h3>
    </div>

    <div class="modal-body">
        <div class="row noLeftRightMargin">
            <div class="col-xs-12 noLeftRightPadding">
                <h4>Resolution required for large screen <span class="pull-right">1140 x 400.</span></h4>

                <div class="imageCrop" canvas-crop file="fileToRead" crop-width="'1140'" crop-height="'400'">
                	<img class="img-responsive"/>

                	<div class="croppedArea">
                	</div>
                </div>

                <div>
                	<button class="btn btn-pr-secondary" ng-click="getCroppedInfoFromDirective()">Crop File For This Resolution</button>
                </div>
            </div>
        </div>
    </div>
</div>