<div ng-include="'views/header.html'"></div>
<div ng-controller="NewRestaurantController" ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="bottomBorder">Add a new Restaurant</h2>
            </div>
        </div>

        <div class="row" petoo-tab target="tabbedContent">

            <ul class="newRestaurantAddition col-xs-12" petoo-tab target="tabbedContent">
                <li class="col-xs-3"><a>Restaurant Basic Details</a></li>
                <li class="col-xs-2"><a>Delivery Areas</a></li>
                <li class="col-xs-3"><a>Offered Cuisines</a></li>
                <li class="col-xs-2"><a>Menu</a></li>
                <li class="col-xs-2 last"><a>Pictures</a></li>
            </ul>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="bg-danger" ng-class="haveReceivedErrorFromServer()">
                    {{errorMessage}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="bg-success" ng-class="haveReceivedSuccessFromServer()">
                    {{successMessage}}
                </div>
            </div>
        </div>

        <div class="tabbedContent">
            <div class="basicDetails active">

                <div class="row">
                    <div class="col-xs-12">
                        <!--<div class="collapseController">
                            <span class="icon-bar"></span>
                            <span class="icon-bar" ng-class="isExpanded('basicInfo')"></span>
                        </div>-->
                        <h3 class="bottomBorderThin bMar20">Restaurant Basic Info</h3>
                    </div>

                    <div class="petoo-form">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Restaurant Name</label>
                                <input type="text" ng-model="restaurant.name" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('name')">
                                <div class="bg-danger" ng-class="hasFieldError('name')">
                                    {{errMsg.name}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Restaurant Slug</label>
                                <input type="text" ng-model="restaurant.slug" class="form-control" />
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('slug')">
                                <div class="bg-danger" ng-class="hasFieldError('slug')" >
                                    {{errMsg.slug}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Address</h3>
                    </div>

                    <div class="petoo-form">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" ng-model="restaurant.street" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('street')">
                                <div class="bg-danger" ng-class="hasFieldError('street')">
                                    {{errMsg.street}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Locality</label>
                                <input type="text" ng-model="restaurant.locality" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('locality')">
                                <div class="bg-danger" ng-class="hasFieldError('locality')">
                                    {{errMsg.locality}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Town</label>
                                <input type="text" ng-model="restaurant.town" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('town')">
                                <div class="bg-danger" ng-class="hasFieldError('town')">
                                    {{errMsg.town}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" ng-model="restaurant.city" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('city')">
                                <div class="bg-danger" ng-class="hasFieldError('city')">
                                    {{errMsg.city}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="text" ng-model="restaurant.postal_code" class="form-control"/>
                            </div>

                            <div class="collapsibleErrorMessage" ng-class="hasFieldError('postal_code')">
                                <div class="bg-danger" ng-class="hasFieldError('postal_code')">
                                    {{errMsg.postal_code}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Restaurant Co-ordinates</h3>
                    </div>

                    <div class="petoo-form">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Google Map Longitude </label>
                                <input type="text" ng-model="restaurant.address.co_ord.longitude" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Google Map Latitude </label>
                                <input type="text" ng-model="restaurant.address.co_ord.latitude" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-pr-primary btn-block" ng-click="createRestaurant()">Create Restaurant</button>
                    </div>
                </div>

            </div>

            <div class="deliveryArea">
                <!--Delivery Area Begin-->
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Delivery Areas</h3>
                    </div>

                    <div class="petoo-form">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Enter Locality Name to filter</label>
                                <input type="text" ng-model="localFilter" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row optionsContainer">
                    <div class="col-xs-5">
                        <div class="box">
                            <ul>
                                <li ng-repeat="location in deliveryAreas | filter : localFilter"
                                    ng-class="isLocationSelected(location)"
                                    ng-click="toggleLocationSelection(location)">
                                        {{location.name}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-2 actionContainer tpad50">
                        <button type="button" class="btn btn-block btn-pr-secondary" ng-click="makeSelectionFinal()">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>

                    <div class="col-xs-5">
                        <div class="box">
                            <ul class="right">
                                <li ng-repeat="location in finalDeliveryAreas">
                                    <span>{{location.name}}</span>
                                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeLocationFromSelection(location)"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Delivery Area End-->
            </div>

            <!--Cuisine Area-->
            <div class="cuisineArea">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Offered Cuisines</h3>
                    </div>

                    <div class="petoo-form">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Enter Cuisine Name to filter</label>
                                <input type="text" ng-model="cuisineFilter" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row optionsContainer">
                    <div class="col-xs-5">
                        <div class="box">
                            <ul>
                                <li ng-repeat="cuisine in offeredCuisines | filter : cuisineFilter"
                                    ng-class="isCuisineSelected(cuisine)"
                                    ng-click="toggleSelectionForCuisine(cuisine)">
                                    {{cuisine.name}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-2 actionContainer tpad50">
                        <button type="button" class="btn btn-block btn-pr-secondary" ng-click="makeCuisineSelectionFinal()">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>

                    <div class="col-xs-5">
                        <div class="box">
                            <ul class="right">
                                <li ng-repeat="cuisine in finalSelectedCuisines">
                                    <span>{{cuisine.name}}</span>
                                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeCuisineFromSelection(cuisine)"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cuisine Area End-->

            <!--Menu Start-->
            <div class="menuArea">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Restaurant Menu</h3>
                    </div>
                </div>

                <div class="petoo-form bottomBorderThin " ng-repeat="menu in restMenu" ng-class="{'tMar20' : !$first}">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label>Category Title</label>
                                <input type="text" ng-model="menu.title" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="dish in menu.items" class="bottomMarginLight" ng-class="{'tMar20' : !$first}">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Dish Title</label>
                                    <input type="text" ng-model="dish.title" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Dish Type</label>
                                    <input type="text" ng-model="dish.type" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label style="display: block">Vegetarian ?</label>
                                    <input type="checkbox" ng-model="dish.veg"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Price Full Plate</label>
                                    <input type="text" ng-model="dish.price.full" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Price Half Plate</label>
                                    <input type="text" ng-model="dish.price.half" class="form-control"/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-3 tMar20 bMar20">
                            <button type="button" class="btn btn-block btn-pr-secondary" ng-click="addNewItemInCategory(menu)">Add Category Item</button>
                        </div>
                    </div>
                </div>

                <div class="row tMar20">
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-block btn-pr-secondary" ng-click="addNewCategory()">Add Menu Category</button>
                    </div>
                </div>
            </div>
            <!--Menu End-->
            <div class="pictureArea">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="bottomBorderThin bMar20">Restaurant Pictures</h3>
                    </div>
                </div>

                <div class="petoo-form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Restaurant Banner Image</label>

                                <div class="uploadContainerDiv">
                                    <input type="file" id="restBanner"/>
                                </div>

                                <input type="text" file-upload-view target="restBanner" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-block btn-pr-secondary" ng-click="try()">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>