<div class="icon-container">
    <ul class="adminControls">
        <li class="active" petoo-side-bar-tab active="true" ng-click="moveToLocation('dashboard')"><span class="glyphicon glyphicon-home"></span></li>
        <li petoo-side-bar-tab target="user-controls"><span class="glyphicon glyphicon-user"></span></li>
        <li petoo-side-bar-tab target="restaurant-controls" ><span class="glyphicon glyphicon-cutlery"></span></li>
        <li petoo-side-bar-tab target="order-controls"><span class="glyphicon glyphicon-piggy-bank"></span></li>
        <li petoo-side-bar-tab target="review-controls"><span class="glyphicon glyphicon-comment"></span></li>
    </ul>
</div>

<div class="control-actions-container">
    <ul class="user-controls">
        <li><a ng-click="moveToLocation('users')">All Users</a></li>
    </ul>

    <ul class="restaurant-controls">
        <li><a ng-click="moveToLocation('restaurant/my')">Edit Restaurant</a></li>
        <li><a ng-click="moveToLocation('restaurant/additional')">Additional Details</a></li>
    </ul>

    <ul class="order-controls">
        <li>All Orders</li>
        <li>Today</li>
        <li>This Month</li>
    </ul>

    <ul class="review-controls">
        <li>All Reviews</li>
        <li>Today</li>
        <li>This Month</li>
    </ul>
</div>
