<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Petooram Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="extResources/require/require.js"></script>
        <script src="extResources/require/main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="extResources/TwitterBootStrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <script type="text/ng-template" id="deleteModal">
            <div class="modal-header">
                <h3 class="modal-title">Delete {{title}} ?</h3>
            </div>

            <div class="modal-body">
                Are you sure you want to delete this {{title}} ?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-pr-primary" ng-click="ok()">Yes</button>
                <button type="button" class="btn btn-pr-secondary" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </head>

    <body ng-controller="ParentController" ng-click="broadCastCloseEvents()">
        <div ng-if="isUserLoggedIn()" class="sidebar" ng-include="'sideBar.html'"></div>

        <div id="ngViewContent" ng-view >
        </div>
    </body>
</html>