<div ng-controller="restaurantController" class="adminBody">
	<div class="container">
		<div class="row">
			<form>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 restaurantNameBlock">
					<div>
						<h1 align="center">{{restDetail.name}}</h1>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 bpad5 tpad30">
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<label>Restaurant Name:</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<input type="text" class="form-control" ng-model="restDetail.name">
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<label>Restaurant Type:</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<input type="text" class="form-control" ng-model="restDetail.type">
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 bpad5">
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<label>Timing:</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<input type="text" class="form-control" ng-model="restDetail.timing">
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<label>Minimum Order:</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<input type="text" class="form-control" ng-model="restDetail.minOrder">
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 bpad5">
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<label>Avg cost/person:</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3">
						<input type="text" class="form-control" ng-model="restDetail.averageCost">
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<label>Cuisines</label>
					</div>
					<div class="col-xs-6 col-lg-3 col-sm-3 col-md-3 tpad5">
						<div class="row">
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 rpad0">
	                			<input type="text" ng-model="cuisineName" class="form-control"/>
	            			</div>
	            			<div class="row">
				            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				                <button type="button" class="btn btn-default" ng-click="addCuisine()">add</button>
				            </div>
				             <div class-"col-xs-12 col-sm-12 col-md-12 col-lg-12">
				                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cuisineBlock" ng-repeat="list in restDetail.cuisines">
					                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				                       {{list}}
				                    </div>
				                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				                       <a ng-click="deleteCuisine($index)">del</a>
				                    </div>
			                    </div>  
			                </div>				            
			            </div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 bpad5">
					<div class="col-xs-6 col-lg-12 col-sm-12 col-md-12">
						<label>About Us:</label>
					</div>
					<div class="col-xs-6 col-lg-6 col-sm-6 col-md-6">
						<textarea rows="5" class="form-control" ng-model="restDetail.aboutUs"></textarea>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 bpad5 lpad30">
					<button ng-click="submitDetail()" class="btn button btn-lg" type="button"><font color="white">Submit</font></button>
				</div>
			</form>
		</div>
	</div>


	<div class="container">
		<div class="row tpad30">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
				
				<h2 align="center" class="bpad5 borderMenu">Menu</h2>
			
				    <div ng-repeat="category in menu">
				    	<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 tpad30 bpad30">
						    <div class="col-xs-6 col-lg-6 col-sm-6 col-md-6 lpad0">
					             <label ng-hide="editCategoryActive" class="categoryLabel">{{category.categoryName}}</label>
					             <div class="col-xs-9 col-lg-9 col-sm-9 col-md-9 lpad0">
					             	<input type="text" ng-model="category.categoryName" class="form-control" ng-show="editCategoryActive">
					             </div>
						        <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 lpad0">
						             <button ng-click="editCategoryDone(category)" ng-show="editCategoryActive" class="btn btn-default" type="button">Done</button>
						        </div>
				            </div>
				            <div class="col-xs-3 col-lg-1 col-md-2 col-sm-2 rpad3">
				            	<button type="button" class="btn btn-default" ng-click="deleteCategory($index)">delete</hp>
				            </div>
				            <div class="col-xs-3 col-lg-1 col-md-2 col-sm-2">
				            	<button type="button" class="btn btn-default" ng-click="editCategory(category)">edit</hp>
				            </div>
				        </div>
				            <table class="table table-striped table-hover">
						        <thead>
						             <tr>
				                    	<th>ID</th>
				                        <th>Dish</th>
				                        <th>Price</th>
						           	 </tr>
						             <tr ng-repeat="dishDetail in category.detail">
						               	<td>
						            		<p>{{dishDetail.id}}</p>
				                    	</td>
				                        <td>
				                        	<p ng-hide="dishDetail.editActive">{{dishDetail.dish}}</p>
					                          <input type="text" ng-show="dishDetail.editActive" ng-model="dishDetail.dish" class="form-control"/>
						                </td>
						                <td ng-repeat="dishPrice in dishDetail.price">
						                  	<p ng-hide="dishDetail.editActive">{{dishPrice}}</p><input type="text" ng-show="dishDetail.editActive" ng-model="dishPrice" class="form-control"/>	
						   	        	 </td>
				                        <td>
				                        	<p ng-hide="dishDetail.editActive" ng-click="editDish(dishDetail)">edit</p>	    	
				                       		<button type="button" ng-click="editButtonActive(dishDetail)" class="btn btn-default" ng-show="dishDetail.editActive">done</button>
						                </td>
						                <td>
						                   	<p ng-click="deleteDish(dishDetail, category, $index)">delete</p>
					                     </td>
			   	                     </tr>
						        </thead>
						            <tr>
						               	<td>
						                		
						               	</td>
							            <td>
							                <input type="text" class="form-control" ng-model="dishDetail.addDish" placeholder="Add Dish Name" />
						                </td>
				       	                <td>
						                    <input type="text" class="form-control" ng-model="dishDetail.addPriceHalf" placeholder="Dish Half price" />
						                </td>
						                <td>
						                    <input type="text" class="form-control" ng-model="dishDetail.addPriceFull" placeholder="Dish Full Price"/>
						                </td>
						                 <td>
						                     <button type="button" class="btn btn-default" ng-click="addNewDish(dishDetail, category)">Add</button>
						                </td>
					                </tr>
						    </table>
				    </div>
				 <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 lpad0">
				 	<div class="col-xs-3 col-lg-1 col-md-2 col-sm-2 tpad15">
						<button ng-show="showSubmitButton" type="button" class="btn button" ng-click="submitMenu()"><font color="white">Submit</font></button>
					</div>
					<div class="bpad5 col-xs-9 col-lg-9 col-md-9 col-sm-9 lpad0">

						<div class="col-xs-7 col-lg-2 col-sm-4 col-md-3 tpad15 rpad3">
					    	 <button type="button" class="btn btn-default" ng-click="addNewCategory()">Add Category</button>	
					    </div>
						<div class="col-xs-5 col-lg-6 col-sm-6 col-md-6 tpad15 lpad0 rpad0">
							<input type="text" class="form-control" ng-model="addCategory"/>
					    </div>
						    
					</div>
				 </div>
			</div>
		</div>
	</div>
</div>