<div ng-controller="landingPageController">
	
		<div class="col-xs-12 col-sm-12 col-lg-12 pizza">

			<div class="welcomeText"></div>
			
			<div class="container">
				<form>
					<div class="row" align="center">
						<div>
							<div class="col-xs-12 col-sm-12 col-lg-12 bpad5" align="middle">
								<div class="col-xs-6 col-sm-5 col-lg-3">
									<input type="text" ng-model="user.city" class="form-control" placeholder="Lucknow">
								</div>
								<div class="col-xs-6 col-sm-5 col-lg-3">
									<input type="text" ng-model="user.location" class="form-control" placeholder="Search Locality">
								</div>
							</div>
							<div class="col-xs-12 col-sm-8 col-lg-6">
								<input type="text" ng-model="user.search" class="form-control" placeholder="search food, food joints, dishes anything..">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>