<!-- 
<div ng-controller="homeController">
	
		<div class="col-xs-12 col-sm-12 col-lg-12 pizza bpad5">

			<div class="welcomeText"></div>
			
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<form>
						<div class="row">
							<div class="bpad5">
								<div class="col-xs-3 col-sm-3 col-lg-1 bpad5 padRight0">
									<div class="btn-group" dropdown is-open="status.isopen">
									      <button type="button" class="btn cityButton dropdown-toggle" dropdown-toggle ng-disabled="disabled">
									        <font class="cityName">{{city}}</font> <span class="caret"></span>
									      </button>
									      <ul class="dropdown-menu" role="menu">
									         <li ng-repeat="name in cities" ng-click="selectCity(name)">
									         <a href>{{name}}</a>
									         </li>
									      </ul>
									 </div>
								</div>

								<div class="col-xs-9 col-sm-4 col-lg-3 bpad5 lpad35">
									<input type="text" ng-model="user.location" typeahead="locality.name for locality in locations | filter:$viewValue | limitTo:8" typeahead-on-select='onSelect($item, $model, $label)' class="form-control" placeholder="Search Locality">
								</div>
							</div>						
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12">
							<div class="col-xs-12 col-sm-7 col-lg-4 bpad5">
								<input type="text" ng-model="user.search" style="height:44px;" class="form-control" placeholder="search food, food joints, dishes anything..">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12">
							<div class="col-xs-12 col-sm-7 col-lg-4">
								<button class="btn btnColor btn-block" type="button" style="font-size:20px; height:44px;" ng-click="goButton()"><font color="white">Search </font><font color="white" ng-show="localitySelected">entire {{user.location}}</font></button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 tpad10 bpad5">
							<div class="col-xs-12 col-sm-4 col-lg-2">
								<button class="btn-block button" type="button" style="font-size:16px;" ng-click="goSearch()"><font color="white">Search all Restaurants in the city</font></button>
							</div>
						</div>
				</form>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12 divInlineBlock">
			<div class="tpad5">
				<div class="col-xs-12 col-sm-12 col-lg-12 landingLocalityBlock">
					<h2>The nearby localities</h2>
					<ul>
						<li ng-repeat="locality in locations"><a href>{{locality.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12 divInlineBlock">
			<div class="tpad5">
				<div class="col-xs-12 col-sm-12 col-lg-12 landingLocalityBlock">
					<h2>The Cuisines</h2>
				</div>
			</div>
		</div>
</div> -->

<div ng-controller="homeController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pizza">
				<div class="row welcomeText">
					<div class="col-sm-2 col-md-3 col-lg-3"></div>
					<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
						<h1 align="center">Welcome to PetuRaam!!!</h1>
						<h3 align="center">Explore Food, Restaurants, Cuisines and Almost everything related to Food</h3>
						<h3 align="center">We do Food Delivery as well</h3>
					</div>
				</div>
					<div class="row">
						<div class="col-sm-2 col-md-3 col-lg-3"></div>
						<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 searchBox">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 lpad0" ng-hide="buttonHidden">
								<div class="btn-group" dropdown is-open="status.isopen">
									<button type="button" class="btn buttonCity dropdown-toggle" dropdown-toggle ng-disabled="disabled">
										<font color="white">{{city}}</font>
									</button>
										<ul class="dropdown-menu" role="menu">
									         <li ng-repeat="item in cities" ng-click="selectCity(item)">
											         <a href>{{item}}</a>
									         </li>
								      </ul>
								</div>
							</div>							
							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" class="form-control hiddenInput" ng-class="{'extendedInput': extendInput}" ng-blur="showButton()" ng-focus="hideButton()"  placeholder="Search Food, Restaurants, Cuisines, Street Food" ng-model="search" />
							</div>
							<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="selectDiv">
									Select It
								</div>
							</div> -->
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
			</div>
		</div>
	</div>
</div>