<div ng-controller="errorController">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <img src="../../images/emptyplate.jpg" width="100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 align="center" style="color:red"><b>Page not Found 404</b></h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-top: -20px;  margin-bottom: 50px;">
                <h2 align="center" style="color:red"><b>Somebody Ate it Up</b></h2>
                <img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Emotes-face-wink-icon.png" height="42" width="42"   style="margin: 0 auto;
  display: block;"/>
            </div>
        </div>
    </div>
</div>