<div class="fullScreenWidth pizzaBack" ng-controller="BannerController">
    <div class="container" ng-click="closeOptionsDropDown($event)">
        <div class="row welcomeText">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                <h2 class="welcomeTextFont">Order Food, Explore Restaurants, Subscribe a Tiffin Service.</h2>
                <h2 class="welcomeTextFont">Do it all at <b>PetuRaam</b></h2>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                <div class="row">
                    <div class="">
                        
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 bannerSearch">
                <div class="input-group">
                    <input id="bannerSearch" type="text" class="form-control" ng-model="bannerSearch.searchText" ng-click="handleClickOnSearch($event)" placeholder="Search Food, Restaurant, Cuisines and Street Food" />

                    <span class="input-group-btn">
                        <button class="btn kh-primary" type="button">Search</button>
                    </span>
                </div>

                <ul class="dropdown" ng-if="shouldDropDownBeShown">
                    <li ng-repeat="menu in bannerDropDownOptions" ng-class="getClassForSearchResult( menu )" ng-click="pickedCategory(menu)">{{menu.menuTitle}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="fullScreenWidth cuisinesContainer">
    <div class="container">
        <div class="hidden-xs">
            <div ng-repeat="cuisine in cuisines">
                <div class="cuisine" ng-class="getClassForLg($index)" ng-click="searchByCuisine( cuisine ) ">
                    <div class="image-container">
                        <div class="cuisine-image" style="background-image: url('{{getImageSrcForLg($index, cuisine.img)}}')"></div>
                    </div>
                    <div class="cuisine-description">
                        {{cuisine.name}}
                    </div>
                </div>
            </div>
            </div>
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div ng-repeat="cuisine in cuisines">
                <div class="cuisine" ng-class="getClassForLg($index)" ng-click="searchByCuisine( cuisine ) ">
                    <div class="image-container">
                        <div class="cuisine-image" style="background-image: url('{{getImageSrcForXs($index, cuisine.img)}}')"></div>
                    </div>
                    <div class="cuisine-description">
                        {{cuisine.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullScreenWidth localitiesContainer">
    <div class="container">
        <h1 class="text-center locationHeading">Explore The Localities</h1>
        <div class="row">
            <div class="col-xs-4 text-center location" ng-class="$last ? 'col-xs-offset-4' : ''" ng-repeat="location in locations">
                <a class="hand"  ng-click="searchByLocation( location )">{{location.name}}</a>
            </div>
        </div>
    </div>
</div>