<div ng-controller="searchResultController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 filterBar hand hidden-md hidden-lg">
        <div class="col-xs-6 col-sm-6" ng-click="sortModal()">
            <p align="center">Sort By
            <i class="glyphicon glyphicon-sort" style="font-size:13px"></i></p>
        </div> 
        <div class="col-xs-6 col-sm-6 borderLeft" ng-click="filterModal()">
            <p align="center">Filter
            <i class="glyphicon glyphicon-filter" style="font-size:14px"></i></p>
        </div>
      </div>
  </div>
     </div>
   <div class="container marginT30">
       <div class="row">
           <div class="col-xs-10 col-sm-11 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
               <h2>List of Restaurants{{}}</h2>
           </div>
       </div>
       <!-- <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div collapse="showMenu">
                <div class="well well-lg">
                    <div ng-repeat="option in filters" class="repeatBlock">
                       <div class="filterBlock">
                          <div ng-click="filterClicked($index)" class="filterContent">
                             <p>{{option.name}}
                              <i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="option.filterCollapse">
                              <div ng-repeat="content in option.list" class="contentClass" ng-click="contentSelected(value)">
                                {{content}}
                              </div>
                           </div>
                       </div>
                   </div>
                </div> 
              </div>
           </div>
       </div> -->
       <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="hidden-xs hidden-sm col-md-2 col-lg-2 fixedBlock">
                   <div class="repeatBlock hand">
                       <div class="filterBlock" ng-click="sortByClicked()">
                          <div>
                             <p>Sort By<i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="sortByCollapse">
                              <div ng-repeat="content in sortBy" class="contentClass" ng-click="sortBySelected(value)">
                                {{content}}
                              </div>
                           </div>
                       </div>
                       <div class="filterBlock" ng-click="cuisineClicked()">
                          <div>
                             <p>Cuisines<i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="cuisineCollapse">
                              <div ng-repeat="cuisine in cuisines" class="contentClass" ng-click="contentSelected(value)">
                                {{cuisine}}
                              </div>
                           </div>
                       </div>
                       <div class="filterBlock" ng-click="minDeliveryClicked()">
                          <div>
                             <p>Min. Delivery<i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="minDelCollapse">
                              <div ng-repeat="content in minDelivery" class="contentClass" ng-click="contentSelected(value)">
                                {{content}}
                              </div>
                           </div>
                       </div>
                       <div class="filterBlock" ng-click="avgCostClicked()">
                          <div>
                             <p>Cost for 2<i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="avgCostCollapse">
                              <div ng-repeat="content in avgCost" class="contentClass" ng-click="contentSelected(value)">
                                {{content}}
                              </div>
                           </div>
                       </div>
                       <div class="filterBlock" ng-click="restTypeClicked()">
                          <div>
                             <p>Restaurant Type<i class="glyphicon glyphicon-menu-down pull-right filterGlyph"></i>
                             </p>
                          </div>
                           <div collapse="restTypeCollapse">
                              <div ng-repeat="content in restType" class="contentClass" ng-click="contentSelected(value)">
                                {{content}}
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                     <div class="resultRepeatBlock" ng-repeat="results in result">
                          <div class="resultBlock">
                             <div class="row">
                               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                 <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 tpad10 tpad15 lpad8">
                                   <img src={{results.img}} class="restaurantIcon" />
                                 </div>
                                 <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 restTitleContent">
                                     <div class="col-xs-10 col-sm-9 col-md-9 col-lg-9">
                                       <p class="restTitle"><strong>{{results.name}}</strong></p>
                                     </div>
                                     <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 rating">
                                      <div class="row">
                                         <p class="glyphicon glyphicon-heart pull-right" align="right"></p>
                                      </div>
                                     </div>
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lpad0">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                          <rating ng-model="rate" class="rateStar" max="maxRating" readonly="true"></rating>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <p class="paraNoMargin">Min Delivery: <b>200 Rs (30 min)</b></p>
                                        </div>
                                        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                                            <p class="paraNoMargin">Cost for 2:<b></b></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                           <p class="paraNoMargin">Cuisines:<b></b></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs">
                                           <p class="paraNoMargin">Open Hours:<b></b></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                           <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  hidden-xs">
                                               <p class="paraNoMargin">Address:<b></b></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bpad8 tpad8 mtop10">
                                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 orderButton" ng-click="next()">
                                                <p align="center" class="orderBtnFont">Order</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <!-- <div collapse="results.showQuickView"> -->
                                <div collapse="true">
                                   <div class="row">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                           <h3><u>About us</u></h3>
                                         </div>
                                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                           <p class="paraNoMargin">{{quickViewContent.aboutUs}}</p>
                                         </div>
                                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                           <h3><u>Specialities</u></h3>
                                         </div>
                                         <div class="row">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Paneer Chilli: 100 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Baigan Bharta: 70 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Pyaaz Pakora: 50 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Kadhai Paneer: 90 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Tava Biryani: 150 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Paav Bhaaji: 70 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Mashed Potatoes: 80 Rs</p>
                                             </div>
                                             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                               <p class="paraNoMargin">Dahi kabab: 60 Rs</p>
                                             </div>
                                           </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3><u>Snaps</u></h3>
                                          </div>
                                          <div class="row">
                                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 corouselBlock">
                                                  <carousel interval="myInterval">
                                                      <slide ng-repeat="slide in quickViewContent.image" active="slide.active">
                                                          <img ng-src="{{slide.src}}" style="margin:auto;height:250px" />
                                                          <div class="carousel-caption">
                                                               <h4>Slide {{$index}}</h4>
                                                          </div>
                                                      </slide>
                                                  </carousel>
                                            </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3><u>Reviews</u></h3>
                                          </div>
                                          <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p class="paraNoMargin">Life is a shitty job with no Holidays</p>
                                              </div>
                                              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p class="paraNoMargin">Life is a shitty job with no Holidays</p>
                                              </div>
                                              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <p class="paraNoMargin">Life is a shitty job with no Holidays</p>
                                              </div>
                                            </div>
                                          </div>
                                     </div>
                                   </div>
                                </div>
                                </div>
                             </div>
                         </div>
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 quickView" ng-click="openQuickView($index)">
                             <div class="row">
                                  <p align="center">
                                    <!-- <span ng-class="{glyphicon-menu-down: showQuickView, glyphicon-menu-up: showQuickView}" class="glyphDown glyphicon" aria-hidden="true"></span> -->
                                    <span class="glyphicon glyphicon-menu-down glyphDown" aria-hidden="true"></span>
                                  </p>
                             </div>
                          </div>
                     </div>
                 </div>
              </div>
           </div>
       </div>
   </div>
</div>