<div ng-controller="profileController">
	 <div class="container containerBlock">
        <div class="row profileHead">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 userImageBlock">
                    <img src="http://qph.is.quoracdn.net/main-thumb-65424091-200-qfewjnaxxfuqpiqwdlmljcqfxobsefrf.jpeg" class="userImage" />
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="foodQoute">"You don't need a silver fork to eat good food"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 profileList hand">
                <div class="row">
                    <p class="listContent">Overview</p>
                </div>
                <div class="row">
                    <p class="listContent">My Orders</p>
                </div>
                <div class="row">
                    <p class="listContent">Pending Orders</p>
                </div>
                <div class="row">
                    <p class="listContent">Profile</p>
                </div>
                <div class="row">
                    <p class="listContent">Favourites</p>
                </div>
                <div class="row">
                    <p class="listContent">Petu Coins</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="incomplete order">
                        will show a green strap with incomplete order and persuade the user to 
                        complete the order
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginTopBottom">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 coinsImgBlock">
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <img src="../../images/ordersImage.png" class="foodOrderImage" />
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h2 class="orderNos">00</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Orders</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 coinsImgBlock">
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <img src="../../images/petuCoins.png" class="coinImage" />
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h2 class="orderNos">00</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Coins</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 coinsImgBlock">
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <i class="glyphicon glyphicon-heart favHeartGlyph"></i>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h2 class="orderNos">00</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Favourites</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 orderBlock" ng-repeat="list in order">
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <img src="https://cdn4.iconfinder.com/data/icons/adiante-apps-app-templates-incos-in-grey/512/app_type_restaurant_chain_512px_GREY.png" class="orderImage" />
                        </div>
                        <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 lpad24">
                            <h4 class="orderNo"><b>#order No. - {{list.orderNo}}</b></h4>
                            <h3 class="smallFont"><b>{{list.restName}}</b></h3>
                            <p class="orderListContent">Total Cost : {{list.cost}} Rs</p>
                            <p class="orderListContent">ordered At : {{list.orderTime}}</p>
                            <p class="orderListContent">Delivered In : {{list.deliveredIn}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 orderBtnBlock">
                        	<div class="row">
                        		<div class="col-xs-6 col-sm-12 col-md-12col-lg-12">
                        			<p class="repeatOrderBtn hand" ng-click="openBillModal()">View Bill</p>
                        		</div>
                        		<div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 repeatBtnBlock">
                        			<p class="repeatOrderBtn hand" ng-click="toCheckOut()">Repeat</p>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
