<div class="fullScreenWidth pizzaBack" ng-controller="homeController">
    <div class="container" ng-click="closeOptionsDropDown($event)">
        <div class="row welcomeText">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                <h1>Welcome to PetuRaam!!!</h1>
                <h2>Explore Food, Restaurants, Cuisines and Almost everything related to Food.</h2>
                <h2>We do Food Delivery as well.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 bannerSearch">
                <div class="input-group">
                    <input id="bannerSearch" type="text" class="form-control" ng-change="searchTextChanged()" ng-model="search.searchText" ng-click="handleClickOnSearch($event)" placeholder="Search Food, Restaurant, Cuisines and Street Food" />

                    <span class="input-group-btn">
                        <button class="btn kh-primary" type="button">Search</button>
                    </span>
                </div>

                <ul class="dropdown" ng-if="firstClickHandled">
                    <li ng-repeat="menu in bannerDropDownOptions" ng-click="pickedCategory(menu)">{{menu.menuTitle}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="fullScreenWidth cuisinesContainer">
    <div class="container">
        <div class="hidden-xs">
            <div ng-repeat="cuisine in cuisines">
                <div class="cuisine" ng-class="getClassForLg($index)">
                    <div class="image-container">
                        <div class="cuisine-image" style="background-image: url('{{getImageSrcForLg($index, cuisine.img)}}')"></div>
                    </div>
                    <div class="cuisine-description">
                        {{cuisine.name}}
                    </div>
                </div>
            </div>
            </div>
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div ng-repeat="cuisine in cuisines">
                <div class="cuisine" ng-class="getClassForLg($index)">
                    <div class="image-container">
                        <div class="cuisine-image" style="background-image: url('{{getImageSrcForXs($index, cuisine.img)}}')"></div>
                    </div>
                    <div class="cuisine-description">
                        {{cuisine.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullScreenWidth localitiesContainer">
    <div class="container">
        <h1 class="text-center locationHeading">Explore The Localities</h1>
        <div class="row">
            <div class="col-xs-4 text-center location" ng-repeat="location in locations">
                <a href="#">{{location.name}}</a>
            </div>
        </div>
    </div>
</div>