<div ng-controller="userRestaurantController">
	<div class="container containerBlock">
		 <tabset>
    		<tab heading="Menu">
    			<div class="tpad40">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2>Restaurant Name</h2>	
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
									<div class="row">
									   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottomBorder" ng-repeat="list in category">	  
									   		<div ng-click="menuListClicked($index)">
									   			<div class="lpad10">
													{{list.name}}
												</div>
											</div>
											<div collapse="list.showDish">
												<div ng-repeat="dish in list.dish">
													<div>
														<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dishList">
															{{dish.name}}
														</div>
														<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dishPrice">
															-{{dish.price}}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-9">
												
								</div>		
							</div>	
						</div>	
					</div>
				</div>
			</tab>
			<tab heading="Gallery"></tab>
			<tab heading="Review"></tab>
			<tab heading="Location"></tab>
		 </tabset>
	</div>
</div>