<div ng-controller="changePwdController">
   <div class="container containerBlock">
   		<div class="row">
   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   				<h1>Change Password</h1>
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
		   		<div class="row">
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				Enter your Email ID
		   			</div>
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				<input class="form-control" type="text" ng-model="pwd.mail" placeholder="Enter your Email ID" />
		   			</div>
		   		</div>
		   		<div class="row">
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				Enter current password
		   			</div>
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				<input class="form-control" type="password" ng-model="pwd.oldPassword" placeholder="Enter current password" />
		   			</div>
		   		</div>
		   		<div class="row">
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				Enter new password
		   			</div>
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				<input class="form-control" type="password" ng-model="pwd.newPassword" placeholder="Enter new password" />
		   			</div>
		   		</div>
		   		<div class="row">
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				Re-enter new password
		   			</div>
		   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		   				<input class="form-control" type="password" ng-model="pwd.confirmNewPassword" placeholder="Re-enter new password" />
		   			</div>
		   		</div>
		   	</div>
		</div>
   </div>
</div>