<div ng-include="'views/header.html'"></div>
<div class="container" ng-controller="NewLocationController" ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="bottomBorder">Add a New Location</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="bg-danger" ng-class="haveReceivedErrorFromServer()">
                {{errorMessage}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="bg-success" ng-class="haveReceivedSuccessFromServer()">
                {{successMessage}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="petoo-form">
            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label>Location Name</label>
                    <input type="text" ng-model="location.name" class="form-control"/>
                </div>

                <div class="collapsibleErrorMessage" ng-class="hasFieldError('name')">
                    <div class="bg-danger" ng-class="hasFieldError('name')">
                        {{errMsg.name}}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="form-group bMar9">
                    <label style="display: block">Displayed On Home Page ?</label>
                    <input type="checkbox" ng-model="location.isOnHomePage" />
                </div>

                <div class="collapsibleErrorMessage" ng-class="hasFieldError( 'isOnHomePage' )">
                    <div class="bg-danger" ng-class="hasFieldError( 'isOnHomePage' )">
                        {{errMsg.isOnHomePage}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row tMar20">
        <div class="col-xs-9 col-sm-3">
            <button type="button" class="btn btn-block btn-pr-primary" ng-click="addNewLocation()">Add New Location</button>
        </div>

        <div class="col-xs-3 col-sm-2">
            <button type="button" class="btn btn-block btn-pr-secondary" ng-click="goBack()">Cancel</button>
        </div>
    </div>
</div>