<div ng-controller="RestaurantDetailsController">
    <div class="restaurantBannerContainer">
        <div class="container-fluid noLeftRightPadding darkTransparentBack">
            <div class="row mBottom100 noLeftRightMargin">
                <div class="hidden-xs hidden-md hidden-sm noLeftRightPadding col-lg-12">
                    <div class="restaurantSnap" style="background-image : url('{{rest.img.lg}}')">
                        <div></div>
                    </div>
                </div>

                <!-- <div class="hidden-xs hidden-sm hidden-lg noLeftRightPadding col-md-12">
                    <div class="restaurantSnap" style="background-image : url('{{rest.img.md}}')">
                        <div></div>
                    </div>
                </div>

                <div class="hidden-xs hidden-md hidden-lg noLeftRightPadding col-sm-12">
                    <div class="restaurantSnap" style="background-image : url('{{rest.img.sm}}')">
                        <div></div>
                    </div>
                </div>

                <div class="hidden-md hidden-sm hidden-lg noLeftRightPadding col-xs-12">
                    <div class="restaurantSnap" style="background-image : url('{{rest.img.xs}}')">
                        <div></div>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="container">
            <div class="row tMar30">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="ratingContainer">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="votes rateStar">{{rest.detail.total_votes}}</span>
                    </div>

                    <div class="restaurantName">
                        {{rest.name}}
                    </div>

                    <div class="openingHours tpad7">
                        {{rest.detail.timing}}
                    </div>
                </div>

                <!-- <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
                    <div class="offeredCuisines">
                        <h3 class="thinBorderBottom">Cuisines Offered</h3>

                        <ul class="cuisineList">
                            <li ng-repeat="cuisine in rest.cuisines">{{cuisine}}</li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 noLeftRightPadding borderBottom">
                        <div class="restaurantMenu" petoo-tab source="restaurantMenu" target="tabbedContent">
                            <ul>
                                <li><a class="first active">Menu</a></li>
                                <li><a>Gallery</a></li>
                                <li><a>Reviews</a></li>
                                <li><a>Location</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabbedContent">
                 <div class="menu active">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mtop10">
                         <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-3 mol-lg-3">
                                 <div class="row">

                                     <div class="col-xs-12">
                                        <h3 class="segoeFont borderBottom specialityText" style="margin-bottom: 10px">Courses</h3>
                                     </div>

                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuCategory segoeFont"
                                          ng-repeat="menu in rest.menus" ng-click="menuSelected(menu)">
                                         <label class="hand smallScrText">{{menu.title}}</label>

                                         <div class="row" collapse="menu.isCollapsed">
                                             <div class="col-xs-12 col-sm-12 hidden-md hidden-lg itemList"
                                                  ng-repeat="item in menu.items">
                                                 <div class="col-xs-5 col-sm-5">
                                                     <p><b>{{item.title}}</b></p>
                                                 </div>
                                                 <div class="col-xs-7 col-sm-7">
                                                     <div class="row">
                                                         <div class="row marRight0 menuPrice">

                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bMar5"
                                                         ng-if="item.price.half!==0">

                                                        <a class="hand addButton" style="padding-bottom:13px" ng-click="itemAddedHalf(item,$index)">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>

                                                        <p>Half</p>

                                                        <p class="price">Rs.<b>{{item.price.half}}</b></p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a class="hand addButton" ng-click="itemAddedFull(item)">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>

                                                        <p>Full</p>

                                                        <p class="price">Rs.<b>{{item.price.full}}</b></p>
                                                    </div>

                                                </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                                         <nav class="navbar navbar-default navbar-fixed-bottom"
                                              style="background-color:#222;color:white;">
                                             <div class="container">
                                                 <div class="row">
                                                     <div class="col-xs-7 col-sm-7">
                                                         <p class="navbarBottomTitle">{{itemAddedName}}</p>
                                                     </div>
                                                     <div class="col-xs-3 col-sm-3 navbarBottomTotal hand"
                                                          ng-click="reviewOrder()">
                                                         <p>Total</p>
                                                     </div>
                                                     <div class="col-xs-2 col-sm-2 hand" ng-click="reviewOrder()">
                                                         <i class="glyphicon glyphicon-shopping-cart smallCartGlyph"></i>
                                                     </div>
                                                 </div>
                                             </div>
                                         </nav>
                                     </div>
                                 </div>
                             </div>
                             <div class="hidden-xs hidden-sm col-md-6 mol-lg-6 menuItems" ng-class="showShowMenu()">
                                 <div class="row">
                                     <div class="col-xs-12">
                                         <h3 class="segoeFont borderBottom specialityText">{{menuName}}</h3>
                                     </div>
                                 </div>


                                 <div class="row">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemList segoeFont " ng-repeat="item in menu.items">

                                         <div class="row noLeftRightMargin topBelowPadding6" ng-class="{'borderBottom' : !$last}">
                                             <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                                {{item.title}}
                                            </div>

                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                                                <div class="row marRight0 menuPrice">

                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bMar5"
                                                         ng-if="item.price.half!==0">

                                                        <a class="hand addButton" style="padding-bottom:13px" ng-click="itemAddedHalf(item,$index)">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>

                                                        <p>Half</p>

                                                        <p class="price">Rs.<b>{{item.price.half}}</b></p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a class="hand addButton" ng-click="itemAddedFull(item)">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>

                                                        <p>Full</p>

                                                        <p class="price">Rs.<b>{{item.price.full}}</b></p>
                                                    </div>

                                                </div>
                                            </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>

                             <div class="hidden-xs hidden-sm col-md-3 col-lg-3 menuItems" ng-class="showCheckoutLink()">

                                 <div class="row">
                                     <div class="col-xs-12">
                                         <h3 class="segoeFont borderBottom specialityText">Your Plate</h3>
                                     </div>
                                 </div>

                                 <div class="row">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topBelowMargin16">
                                         <button type="button" class="btn btn-block btn-pram-primary">Serve Plate</button>
                                     </div>
                                 </div>

                                 <div class="row">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 segoeFont"
                                          ng-repeat="dish in dishShortlisted">

                                         <div class="tpad6 bPad10 lpad10 OnePxGainsBroBorder noBottomBorder" ng-class="{'borderBottom' : $last}">
                                             <div class="row bMar4">
                                                 <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                     <p>{{dish.dish}}</p>
                                                 </div>
                                                 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                     <p>Rs-<b>{{dish.totalPrice}}</b></p>
                                                 </div>
                                             </div>

                                             <div class="breakPaddingMargin">
                                                 <div class="row">
                                                     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                         <a class="hand addButton" ng-click="quantityIncreased(dish)">
                                                             <span class="glyphicon glyphicon-plus"></span>
                                                         </a>
                                                     </div>
                                                     <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                         {{dish.quantity}}
                                                     </div>
                                                     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                         <a class="hand addButton" ng-click="quantityDecreased(dish)">
                                                             <span class="glyphicon glyphicon-minus"></span>
                                                         </a>
                                                     </div>
                                                     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 rPad15">
                                                         {{dish.value}}

                                                         <a class="hand addButton pull-right" ng-click="removeDish($index)">
                                                             <span class="glyphicon glyphicon-trash"></span>
                                                         </a>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                         <div class="row">
                                             <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                 <p class="pull-left">Total</p>
                                             </div>
                                             <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                                 <p class="pull-right">{{totalValue}}</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="gallery">
                     Gallery
                 </div>

                 <div class="reviews">
                   <div class="row mtop30">
                     <div class="col-xs-12 borderBottom">
                        <div class="col-xs-3">
                            <img src="http://qph.is.quoracdn.net/main-thumb-65424091-200-qfewjnaxxfuqpiqwdlmljcqfxobsefrf.jpeg" class="userIconBorder"/>
                        </div>
                        <div class="col-xs-9">
                            <textarea class="col-xs-12 revTextArea" type="text"></textarea>
                         </div>
                        <div class="col-xs-offset-8 col-xs-4 mtop15">
                            <button type="button" class="btn btn-primary pull-right">Submit</button>
                        </div>
                     </div>
                   </div>
                   
                    <div class="col-xs-12 mtopBot10" ng-repeat="review in reviews">
                       <div class="col-xs-3">
                            <img src="http://www.limestone.edu/sites/default/files/styles/medium/public/user.png?itok=ueTc1g_4" class="userIconBorder"/>
                           <div class="mtop15">
                               <label class="center">{{review.name}}<label>
                            </div>
                       </div>
                       <div class="col-xs-9">
                            <div class="col-xs-12 reviewTextBlock">
                                <div class="col-xs-12 rateStar">
                                    <rating ng-model="review.rating" max="5" readonly="true"></rating>
                                </div>
                                <div class="col-xs-12">       
                                      <p class="reviewFont">{{review.review}}</p>
                                </div>
                           </div>
                           <div class="col-xs-12">
                               <p class="pull-right reviewTIme">Tuesday, 15/OCT/2015</p>
                           </div>
                       </div>
                    </div>
               </div>

                 <div class="location">
                     Location
                 </div>

             </div>
        </div>
    </div>
</div>