<div class="container" ng-controller="RestaurantDetailsController">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="restaurantSnap">
                <img src="{{rest.img}}"/>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="restaurantName">
                        {{rest.name}}
                    </div>
                </div>

                <div class="hidden-xs col-sm-8 col-mg-6 col-lg-6">
                    <div class="restaurantMenu" petoo-tab source="restaurantMenu" target="tabbedContent">
                        <ul>
                            <li><a class="first active">Menu</a></li>
                            <li><a>Gallery</a></li>
                            <li><a>Reviews</a></li>
                            <li><a>Location</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="tabbedContent">
                <div class="menu active">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="menu in rest.menus">
                        {{menu}}
                    </div>
                </div>

                <div class="gallery">
                    Gallery
                </div>

                <div class="reviews">
                    Reviews
                </div>

                <div class="location">
                    Location
                </div>

            </div>
        </div>

    </div>
</div>