$theme-primary-background-color : #2b3238;
$theme-primary-font-color : #fff;

$theme-glyph-feedback-background-color : #363b41;
$theme-glyph-color : #5f626b;

$theme-glyph-hover-color : #9aa1a4;
$theme-glyph-active-color : #c7cccd;

$theme-input-background-color : #3b4148;
$theme-input-font-color : #fff;
$theme-input-border-radius : 4px;

$theme-error-back-color : #7a2934;
$theme-error-font-color : #ccc;

$theme-success-back-color : #3c6c24;
$theme-success-font-color : #eee;

$theme-input-box-height : 40px;
$theme-input-font-size : 18px;

$theme-fast-reaction : .3s;

$theme-primary-button-color : #7b2d87;
$theme-primary-button-hover-text-color : #fff;
$theme-primary-button-hover-back-color : #932d87;

$theme-sidebar-width : 50px;
$theme-sidebar-collapsed-width : 50px;
$theme-sidebar-expanded-width : 300px;
$theme-sidebar-extra-pane-width : 250px;
$theme-sidebar-background-color : $theme-input-background-color;
$theme-sidebar-glyph-height : 60px;
$theme-sidebar-active-back-color : #2b2b38;

$theme-admin-nav-height : 60px;
$theme-shadow-color : #444;
$theme-admin-nav-back-color : $theme-sidebar-active-back-color;
$theme-admin-font-size : 22px;

$theme-body-back-color-light : #FAF8FD;

$theme-page-list-heading-font-size : 19px;
$theme-page-list-border : 1px solid #3f4952;

$theme-add-new-tabs-back : #2c6084;
$theme-add-new-tabs-active : #32404b;
$theme-add-new-tabs-disabled : #6f7981;
$theme-add-new-tabs-completed : #46535d;

$theme-glyph-btn-width : 34px;
/*Min-ins*/
@mixin transition-mix($property, $duration) {
  -moz-transition: $property $duration;
  -o-transition: $property $duration;
  -webkit-transition: $property $duration;
  transition: $property $duration;
}

@mixin transform-mix($property){
  -moz-transform: $property;
  -o-transform: $property;
  -webkit-transform: $property;
  transform : $property
}

/* Global CSS Begin */
@font-face {
  font-family: Bree;
  src: url('../fonts/bree-serif.otf');
}

body{
  background-color : $theme-primary-background-color;

  font-family: Bree;
  color : $theme-primary-font-color;
  overflow-x: hidden;
}

#ngViewContent{
  margin-left : 50px;
  @include transition-mix( all, $theme-fast-reaction);
  overflow : hidden;

  position : relative;
  left : 0;
}

.has-feedback{
  input{
    background-color : $theme-input-background-color;
    color : $theme-input-font-color;

    font-family: 'Calibri';
    border : none;

    font-size : $theme-input-font-size;

    height : $theme-input-box-height;
  }
}

.form-group{
  span{
    background-color : $theme-glyph-feedback-background-color;
    height : $theme-input-box-height;
    line-height: $theme-input-box-height;

    color :$theme-glyph-color;
  }
}

.bg-danger, .bg-success{
  height : $theme-input-box-height;
  font-family: 'Calibri';

  margin-bottom : 15px;
  padding-left : 15px;

  border-radius : $theme-input-border-radius;

  font-size : $theme-input-font-size;
  line-height : $theme-input-box-height;

  color : $theme-error-font-color;
  overflow : hidden;

  background-color : $theme-error-back-color;

  @include transition-mix(all, $theme-fast-reaction);

  &.noHeight {
    height : 0;
    margin-bottom : 0;
  }
}

.bg-success{
  background-color : $theme-success-back-color;
  color : $theme-success-font-color;
}

.btn-pr-primary{
  background-color : $theme-primary-button-color;
  height : $theme-input-box-height;

  font-size : $theme-input-font-size;
  @include transition-mix(all, $theme-fast-reaction);

  &:hover, &:focus{
    color : $theme-primary-button-hover-text-color;
    background-color : $theme-primary-button-hover-back-color;
  }
}

.btn-pr-secondary{
  background-color : $theme-input-background-color;
  height : $theme-input-box-height;

  font-size :$theme-input-font-size;
  @include  transition-mix(all, $theme-fast-reaction);

  &:hover{
    color : $theme-primary-button-hover-text-color;
    background-color : #5e6873;
  }
}

.input-group-btn{
  width :$theme-glyph-btn-width;

  .btn-glyph{
    width : $theme-glyph-btn-width;

    background-color : $theme-glyph-feedback-background-color;

    color :$theme-glyph-color;

    height : $theme-input-box-height;
    line-height: $theme-input-box-height;

    @include  transition-mix(all, $theme-fast-reaction);
    span {
      height : $theme-input-box-height;
      line-height: $theme-input-box-height;
    }

    &:hover, &:focus{
      color : $theme-primary-button-hover-text-color;
      background-color : #5e6873;
    }
  }
}

.formActions{
}

.sidebar{
  position : fixed;

  width : 50px;
  height : 100%;

  left : 0;

  overflow : hidden;

  background-color : $theme-sidebar-active-back-color;
  @include transition-mix(all, $theme-fast-reaction);

  &.expanded{
    width : $theme-sidebar-expanded-width;
  }
}

.glyphicon-search{
  cursor : pointer;
}

.fileUploadBox{
    background-color : $theme-input-background-color;
    color : $theme-input-font-color;

    font-family: 'Calibri';
    border : none;

    font-size : $theme-input-font-size;

    height : $theme-input-box-height;

    cursor : pointer;

    @include transition-mix(all, $theme-fast-reaction);
}

.fileActionsContainer{

    margin-top : 5px;
    margin-bottom : 5px;

    > div {
        float : left;
        width : 70%;

        &.fileDelete{
            height : $theme-input-box-height;            
            width : 30%;

            background-color : $theme-error-back-color;

            text-align : center;

            cursor : pointer;

            span {                
                color : $theme-error-font-color;
                height : 39px;
                background-color : $theme-error-back-color;

                
            }
        }

        &.fileUploadBox{
            cursor : pointer;

            line-height : $theme-input-box-height;

            padding-left : 15px;
        }
    }

    &.noHeight {
        margin-top : 0;
        height : 0;
        overflow : hidden;
    }
}

/* Global Pagination CSS */
ul.pagination{
  font-family: 'Calibri';
  li {

    a{
      border : none;
      background-color : $theme-input-background-color;

      height : $theme-input-box-height;

      font-size : $theme-input-font-size;
      padding: 8px 14px;

      color : #aaa;
      margin-left : 5px;

      @include  transition-mix(all, $theme-fast-reaction);

      &:hover, &:focus{
        color : $theme-primary-button-hover-text-color;
        background-color : #5e6873;
      }
    }

    &.disabled{
      a{
        background-color : $theme-input-background-color;

        &:hover, &:focus{
          background-color : $theme-input-background-color;
        }
      }
    }

    &.active {
      a{
        background-color : $theme-primary-button-color;

        @include transition-mix(all, $theme-fast-reaction);

        &:hover, &:focus{
          color : $theme-primary-button-hover-text-color;
          background-color : $theme-primary-button-hover-back-color;
        }
      }
    }
  }
}

/* Global Fields Error Message*/
.collapsibleErrorMessage {
  @include transition-mix(all, .3s);
  height: 40px;

  margin-bottom: 6px;
  font-size: 14px;
  overflow : visible;

  &.noHeight {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;

    .noHeight {
      height: 0;
      overflow: hidden;
    }
  }

  .bg-danger {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-radius: 2px;

    font-size : 14px;

    position: relative;
    overflow : visible;

    &:after {
      content: " ";
      top: -23px;
      left: 12%;
      border: 12px solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      border-bottom-color: $theme-error-back-color;
    }
  }
}

.noHeight{
  overflow: hidden;
  height : 0;
}
/* Global CSS End */

/* Utility Classes */
.tpad50{
  padding-top : 50px;
}

.tMar30{
  margin-top : 30px;
}

.bMar9{
    margin-bottom : 9px;
}

.tMar20{
  margin-top : 20px;
}

.bMar10{
  margin-bottom : 10px;
}

.uploadContainerDiv{
  height : 0;
  overflow : hidden;
  visibility: hidden;
}

.bMar20{
  margin-bottom: 20px;
}

.bottomBorder{
  border-bottom : 2px solid #fff;
}

.bottomBorderThin{
  border-bottom: 1px solid #fff;
}

.bottomMarginLight{
  border-bottom : 1px solid #888;
}

.collapseController{
  float : left;
  width : 27px;

  height : 27px;

  margin: 20px 5px 20px 0;
  position : relative;

  span{
    height : 5px;
    width : 27px;
    position : absolute;
    top : 26%;

    background-color : #fff;

    display: block;
    margin-top : 5px;

    @include transition-mix(all, $theme-fast-reaction);
  }
}

.makeRightAngle{
  @include transform-mix(rotate(90deg));
}

.petoo-form{
  font-family: Calibri;

  .form-group{
    label{
      font-size : 20px;
      margin-bottom: 8px;
      font-weight: normal;

      &.radio{
        font-size : 18px;
      }
    }

    input{
      background-color : $theme-input-background-color;
      color : $theme-input-font-color;

      font-family: 'Calibri';
      border : none;

      font-size : $theme-input-font-size;

      height : $theme-input-box-height;

      &.radio{
        height : 18px;
      }
    }
  }
}

.noLeftRightMargin{
  margin-left : 0;
  margin-right : 0;
}

.noLeftRightPadding{
  padding-left : 0;
  padding-right : 0;
}

/*SideBar Page Styles Begin*/
.icon-container, .control-actions-container{
  float : left;
}

.icon-container{
  width : $theme-sidebar-collapsed-width;
  background-color : $theme-sidebar-background-color;
  height : 100%;

  ul.adminControls{
    list-style:none;
    margin-left: 0;
    padding-left: 0;

    li{
      cursor: pointer;

      @include transition-mix(all, $theme-fast-reaction);

      span{
        display : block;

        font-size : $theme-input-font-size;

        height : $theme-sidebar-glyph-height;
        width : 100%;
        line-height : $theme-sidebar-glyph-height;

        text-align : center;

        color : $theme-glyph-color;
      }

      &:hover{ span {color : $theme-glyph-hover-color }}
      &.active, &.active:hover{ span {background-color : $theme-sidebar-active-back-color; color : $theme-glyph-active-color} }
    }
  }
}

.control-actions-container{
  width : $theme-sidebar-extra-pane-width;
  background-color : $theme-sidebar-active-back-color;
  height : 100%;

  position : relative;

  ul{
    list-style : none;
    height : 100%;

    position : absolute;

    top : 0;
    opacity : 0;

    z-index : 1;

    @include transition-mix(all, $theme-fast-reaction);

    padding-top : 50px;
    padding-left : 15px;

    li{
      font-size : 18px;
      line-height : 40px;
    }

    &.active{
      opacity : 1;
      z-index : 2;
    }
  }
}
/*SideBar Page Styles End*/

/*Header Page Styles Begin*/
.adminNav{
  height : $theme-admin-nav-height;
  box-shadow: $theme-shadow-color 0 0 5px;

  background-color : $theme-admin-nav-back-color;

  .row > div{
    height : $theme-admin-nav-height;
    line-height : $theme-admin-nav-height;

    font-size : $theme-admin-font-size;

    .glyphicon{
      cursor : pointer;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
      top : 110%;

      display: block;

      height: 110px;
      display: block;

      font-family: 'Segoe UI';

      overflow: hidden;
      @include transition-mix(all, .3s);

      background-color: $theme-body-back-color-light;

      &.noHeight {
        padding: 0;
        height: 0;
        border: 0;
      }

      li {
        a {
          text-align: right;

          &:hover {
            background-color: $theme-primary-background-color;
            color: $theme-primary-font-color;
          }
        }

        a.noHover {
          cursor: default;
          &:hover {
            background-color: $theme-body-back-color-light;
            color: #000;
          }
        }
      }
    }
  }
}
/*Header Page Styles End*/

/*UserList Page*/
.userList{
  font-size : $theme-page-list-heading-font-size;

  .heading{
    text-align:  center;

    border : 1px solid #fff;
  }

  .dataCell{
    border-left : $theme-page-list-border;
    border-bottom : $theme-page-list-border;

    padding: 5px 20px;
    font-family: 'Calibri';

    text-overflow : ellipsis;
    overflow : hidden;

    span{
      font-size : 16px;
      cursor: pointer;

      color : $theme-glyph-color;
      margin-right : 10px;

      &.active {
        color : #cfcfd2;
      }
    }

    &.top{
      border-top : $theme-page-list-border;
    }

    &.right{
      border-right : $theme-page-list-border;
    }
  }
}

/*Restaurant List page*/
.restaurantList{
  font-size : $theme-page-list-heading-font-size;
  border : $theme-page-list-border;

  border-bottom : none;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  > div {
    border-bottom : $theme-page-list-border;
  }

  input{
    background-color : $theme-input-background-color;
    color : $theme-input-font-color;

    font-family: 'Calibri';
    border : none;

    font-size : $theme-input-font-size;

    height : $theme-input-box-height;
  }

  .heading{
    padding : 5px 5px 10px 5px;

    div{

      &.text{
        margin-left : 3px;
      }

      &.search{
        margin-top : 5px;
        margin-bottom : 4px;
        width: 100%;
      }
    }
  }
}

/* New Restaurant Page */
ul.newRestaurantAddition{
  padding-left : 15px;
  list-style : none;

  li{
    float : left;
    padding : 20px 0px;
    background-color : $theme-add-new-tabs-back;

    text-align : center;

    font-size : 18px;
    color : #fff;
    cursor : pointer;

    border-right : 1px solid #46535d;

    &.active{
      background-color : $theme-add-new-tabs-active;
    }

    &.last{
      border-right : none;
    }

    &[disabled]{
      background-color : $theme-add-new-tabs-disabled;
      cursor : not-allowed;
    }

    &.completed{
      background-color : $theme-add-new-tabs-completed;
    }

    a, a:hover{
      color : #fff;
      text-decoration : none;
    }
  }
}

.tabbedContent{
  position : relative;

  > div{

    width : 100%;
    float : left;
    opacity : 0;
    z-index : 3;

    @include transition-mix(all, $theme-fast-reaction);
    &.active{margin-left:0;z-index : 4 !important; opacity: 1}
    &.menu{margin-left : 0}
    &.basicDetails,&.deliveryArea, &.cuisineArea, &.menuArea, &.pictureArea, &.pictureArea{margin-left: -200%;
      &.active{
        margin-left : 0;
      }
    }
  }
}

.optionsContainer{
  .box{
    height : 200px;
    width : 100%;

    overflow-y : scroll;

    font-family: 'Segoe UI';

    background-color : $theme-input-background-color;

    border-radius : 4px;

    ul{
      list-style : none;
      padding-left : 0;

      li{
        padding : 5px 15px;
        font-size : 16px;

        cursor : pointer;

        &.active{
          background-color : $theme-sidebar-active-back-color;
        }

      }

      &.right{
        li{
          background-color : $theme-sidebar-active-back-color;
          margin-bottom : 5px;

          span.pull-right {
            margin-top : 3px;
          }
        }
      }
    }
  }
}

.modal-content{
  background-color : $theme-primary-background-color;
  top : 150px;

  .modal-header{
    border-bottom-color: #444;
    margin : 15px 15px 0 15px;
    padding : 0 0 10px 0;

    background-color : $theme-primary-background-color;
  }

  .modal-body{
    font-size : 18px;
  }

  .modal-footer{
    border-top-color: #444;
    margin : 0 15px;
    padding : 10px 0;
  }
}

.modal-backdrop.in{
  height : 100%;
}